<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UVL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF6D5F9E1DBF28AE000C6F1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF6D5FBA1DBF28AE000C6F1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF6D5FC51DBF28AE000C6F1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
